In [21]:
import pandas as pd
df=pd.read_csv("./data/beijing_weather.csv")

In [23]:
# df.loc[:,["高温","低温"]]=df["温度"].
df["温度"] = df["温度"].str.replace("℃", "")
df["温度"] = df["温度"].str.replace("C", "")

In [25]:
df.head(1)

   城市         时间      天气     温度           风向
0  北京  2018/6/30  雷阵雨转多云  37～23  西南风转东南风 <3级

In [26]:
df[["高温","低温"]] = df["温度"].str.split("～", expand=True)

In [28]:
df.drop(["温度"], axis=1, inplace=True)

In [29]:
df.head(4)

   城市         时间      天气                风向  高温  低温
0  北京  2018/6/30  雷阵雨转多云       西南风转东南风 <3级  37  23
1  北京  2018/6/29      多云  西南风转南风 3-4级转3-4级  39  25
2  北京  2018/6/28       晴  北风转西南风 3-4级转3-4级  35  24
3  北京  2018/6/27    多云转晴  西北风转微风 3-4级转3-4级  38  25

### Series 排序

In [31]:
# 升序排列, 第一列为index
df["高温"].sort_values().head(2)

17    22
21    22
Name: 高温, dtype: object

In [33]:
df["高温"].sort_values(ascending=False).head(5)

1     39
3     38
25    38
0     37
4     36
Name: 高温, dtype: object

### DataFrame 排序

In [ ]:
df.sort_values(by="高温")