In [8]:
import pandas as pd
import numpy as np 
df=pd.DataFrame(
    np.arange(12).reshape(3,4), 
    columns= ["A","B","C","D"]
)

In [9]:
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

#### 1. drop 删除某列

In [5]:
df.drop("A", axis=1)

   B   C   D
0  1   2   3
1  5   6   7
2  9  10  11

#### 2. 删除某行

In [6]:
df.drop(1, axis=0)

   A  B   C   D
0  0  1   2   3
2  8  9  10  11

#### 3. 平均值

In [10]:
df.mean(axis=0)

A    4.0
B    5.0
C    6.0
D    7.0
dtype: float64

In [11]:
df.mean(axis=1)

0    1.5
1    5.5
2    9.5
dtype: float64

#### 4. 新增列

In [13]:
def sum_value(x):
    return x["A"] + x["B"] + x["C"]
df["D"] = df.apply(sum_value, axis=1)

In [14]:
df

   A  B   C   D
0  0  1   2   3
1  4  5   6  15
2  8  9  10  27

#### 小结
在聚合操作时
axis = 0/index 表示 行 动 起来，即求每列的聚合值
axis = 1/column 表示 列 动 起来，即求每行的聚合值