### 读取csv文件

In [ ]:
import pandas as pd

In [7]:
filepath="./data/movie.csv"
ratings=pd.read_csv(filepath) # 读取csv 文件

In [8]:
ratings.head(3)# 读取前3行数据

   userId  movieId  rating
0       1        1     0.5
1       1        1     0.5
2       1        1     0.5

In [9]:
ratings.shape # 返回行数和列数

(24, 3)

In [10]:
ratings.columns # 返回列的名称

Index(['userId', 'movieId', 'rating'], dtype='object')

In [11]:
# 返回索引
ratings.index

RangeIndex(start=0, stop=24, step=1)

In [12]:
# 查看数据类型
ratings.dtypes

userId       int64
movieId      int64
rating     float64
dtype: object

### 读取txt文件

In [13]:
filepath="./data/web.txt"

In [25]:
webuv = pd.read_csv(filepath, sep=" ", header=None, names=["date", "uid", "uv"])

In [26]:
webuv

         date  uid  uv
0  2020-01-01    1  11
1  2020-02-01    1  11
2  2020-03-01    1  11
3  2020-03-21    1  11
4  2020-01-31    1  11
5  2020-02-11    1  11
6  2020-08-03    1  11
7  2020-11-16    1  11
8  2020-08-30    1  11
9  2020-09-21    1  11

### 读取Excel

In [27]:
filepath = "./data/pv.xlsx"
pd.read_excel(filepath)

          日期  用户  访问量
0 2020-01-01   1  101
1 2020-01-02   1  101
2 2020-01-03   1  101
3 2020-01-04   1  101
4 2020-01-05   1  101
5 2020-01-06   1  101
6 2020-01-07   1  101

### Pandas 的数据结构
##### DataFraome

二位数据，整个表格, 是一个表格型的数据结构
- 每列可以是不同的值类型
- 既有行所以index，也有列索引columns
- 可以看做是由Series组成的字典

创建DataFrame 常用的方法就是读取数据。
##### Series

一维数据，一行或者一列

In [28]:
import pandas as pd 
import numpy as np

#### 通过列表创建Series

In [32]:
s1=pd.Series([1,'a',5,2,7])

In [33]:
# 左侧为索引，右侧为数据
s1

0    1
1    a
2    5
3    2
4    7
dtype: object

In [34]:
# 获取索引
s1.index

RangeIndex(start=0, stop=5, step=1)

In [35]:
# 获取数据
s1.values

array([1, 'a', 5, 2, 7], dtype=object)

#### 创建具有标签索引的Series

In [36]:
s2=pd.Series([1,'a',5,2,7],index=['a','b','c','d', 'e'])

In [37]:
s2

a    1
b    a
c    5
d    2
e    7
dtype: object

#### 通过python创建Series

In [40]:
sdata={"Ohio":1000,"tezts":2000,"rOrengon":3000}
s3=pd.Series(sdata)

In [41]:
s3

Ohio        1000
tezts       2000
rOrengon    3000
dtype: int64

In [42]:
# 获取索引的数据
s3["Ohio"]

1000

In [46]:
# 获取多个索引的值
s3[["Ohio", "tezts"]]

Ohio     1000
tezts    2000
dtype: int64

#### DataFrame

In [50]:
data={
    "state": ["Ohi","Bjs","Chi"],
    "year":[2020,2001,2031],
    "pop":[1,2,3]
}
df=pd.DataFrame(data)

In [51]:
df

  state  year  pop
0   Ohi  2020    1
1   Bjs  2001    2
2   Chi  2031    3

In [52]:
df.dtypes

state    object
year      int64
pop       int64
dtype: object

In [53]:
df.columns

Index(['state', 'year', 'pop'], dtype='object')

In [54]:
df.index

RangeIndex(start=0, stop=3, step=1)

#### DataFrame 和 Series 的交互
- 如果查询的事一行、一列，查询出来的是pd.Series
- 如果查询的事多行、多列，查询出来的是pd.DataFrame

查询列直接用[]来获取, 查询行使用.loc[] 来获取

In [55]:
df["year"]

0    2020
1    2001
2    2031
Name: year, dtype: int64

In [56]:
type(df["year"])

pandas.core.series.Series

In [60]:
df[["year","pop"]]

   year  pop
0  2020    1
1  2001    2
2  2031    3

In [61]:
type(df[["year","pop"]])

pandas.core.frame.DataFrame

In [63]:
# 查询行
df.loc[0]

state     Ohi
year     2020
pop         1
Name: 0, dtype: object

In [65]:
# 查询多行， 注意，此处包含了末尾元素
df.loc[0:2]

  state  year  pop
0   Ohi  2020    1
1   Bjs  2001    2
2   Chi  2031    3

### Pandas查询数据的方法
1. df.loc方法
2. df.iloc方法
3. df.where方法
4. df.query方法

In [144]:
df = pd.read_csv("./data/beijing_weather.csv")

In [145]:
df.head()

   城市         时间      天气       温度                风向
0  北京  2018/6/30  雷阵雨转多云  37℃～23℃       西南风转东南风 <3级
1  北京  2018/6/29      多云  39℃～25℃  西南风转南风 3-4级转3-4级
2  北京  2018/6/28       晴  35℃～24℃  北风转西南风 3-4级转3-4级
3  北京  2018/6/27    多云转晴  38℃～25℃  西北风转微风 3-4级转3-4级
4  北京  2018/6/26       晴  36℃～25℃  西南风转南风 3-4级转3-4级

In [151]:
# 设置索引为日期
df.set_index("时间", inplace=True)

In [146]:
df.head()

   城市         时间      天气       温度                风向
0  北京  2018/6/30  雷阵雨转多云  37℃～23℃       西南风转东南风 <3级
1  北京  2018/6/29      多云  39℃～25℃  西南风转南风 3-4级转3-4级
2  北京  2018/6/28       晴  35℃～24℃  北风转西南风 3-4级转3-4级
3  北京  2018/6/27    多云转晴  38℃～25℃  西北风转微风 3-4级转3-4级
4  北京  2018/6/26       晴  36℃～25℃  西南风转南风 3-4级转3-4级

In [147]:
# 将温度这一列中的摄氏度删除
df.loc[:,"温度"]=df["温度"].str.replace("℃","")

In [148]:
df.head(4)

   城市         时间      天气     温度                风向
0  北京  2018/6/30  雷阵雨转多云  37～23       西南风转东南风 <3级
1  北京  2018/6/29      多云  39～25  西南风转南风 3-4级转3-4级
2  北京  2018/6/28       晴  35～24  北风转西南风 3-4级转3-4级
3  北京  2018/6/27    多云转晴  38～25  西北风转微风 3-4级转3-4级

##### 1. 使用单个label值查询数据

对于行或者列，可以传入单个值实现精确匹配

In [91]:
df.loc["2018/6/29","温度"]

'39～25'

In [92]:
df.loc["2018/6/29",["温度","风向"]]

温度               39～25
风向    西南风转南风 3-4级转3-4级
Name: 2018/6/29, dtype: object

##### 2. 使用列表批量查询

In [98]:
df.loc[["2018/6/29","2018/6/30"],"温度"]

时间
2018/6/29    39～25
2018/6/30    37～23
Name: 温度, dtype: object

##### 3. 使用区间查询(注意: 这里是包含结束的)

In [152]:
df.loc["2018/6/29":"2018/6/26","温度"]

时间
2018/6/29    39～25
2018/6/28    35～24
2018/6/27    38～25
2018/6/26    36～25
Name: 温度, dtype: object

##### 4. 使用条件表达式查询

In [153]:
df.loc[df.index >"2018/6/27",:]

           城市      天气       温度                风向
时间
2018/6/30  北京  雷阵雨转多云    37～23       西南风转东南风 <3级
2018/6/29  北京      多云    39～25  西南风转南风 3-4级转3-4级
2018/6/28  北京       晴    35～24  北风转西南风 3-4级转3-4级
2018/6/9   北京       阴    22～17   西风转东风 3-4级转3-4级
2018/6/8   北京    阴转小雨    31～20       北风转西南风 3-4级
2018/6/7   北京      多云    32～20   西风转微风 3-4级转3-4级
2018/6/6   北京    阴转多云    32～25  东风转东北风 3-4级转3-4级
2018/6/5   北京      多云  38C～25C     西南风 3-4级转3-4级
2018/6/4   北京       晴  34C～21C       南风转西南风 4-5级
2018/6/3   北京    阴转多云  30C～18C   南风转西风 3-4级转3-4级

In [154]:
df.loc[df["天气"] == "晴",:]

           城市 天气       温度                风向
时间
2018/6/28  北京  晴    35～24  北风转西南风 3-4级转3-4级
2018/6/26  北京  晴    36～25  西南风转南风 3-4级转3-4级
2018/6/23  北京  晴    35～25  南风转西南风 3-4级转3-4级
2018/6/20  北京  晴    36～21   西风转南风 3-4级转3-4级
2018/6/4   北京  晴  34C～21C       南风转西南风 4-5级
2018/6/1   北京  晴  35C～21C     西南风 3-4级转3-4级

##### 5. 使用函数查询

In [161]:
def query_sunday(df):
    return df["天气"] == "晴"
df.loc[query_sunday, :]

           城市 天气       温度                风向
时间
2018/6/28  北京  晴    35～24  北风转西南风 3-4级转3-4级
2018/6/26  北京  晴    36～25  西南风转南风 3-4级转3-4级
2018/6/23  北京  晴    35～25  南风转西南风 3-4级转3-4级
2018/6/20  北京  晴    36～21   西风转南风 3-4级转3-4级
2018/6/4   北京  晴  34C～21C       南风转西南风 4-5级
2018/6/1   北京  晴  35C～21C     西南风 3-4级转3-4级

### pandas新增列
1. 直接复制
2. df.apply
3. df.assign()
4. 按条件分组分别复制

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("./data/beijing_weather.csv")

In [5]:
df.head(2)

   城市         时间      天气       温度                风向
0  北京  2018/6/30  雷阵雨转多云  37℃～23℃       西南风转东南风 <3级
1  北京  2018/6/29      多云  39℃～25℃  西南风转南风 3-4级转3-4级

In [6]:
# 1. 直接赋值
df.loc[:,"好天气"]="是"

In [7]:
df.head(2)

   城市         时间      天气       温度                风向 好天气
0  北京  2018/6/30  雷阵雨转多云  37℃～23℃       西南风转东南风 <3级   是
1  北京  2018/6/29      多云  39℃～25℃  西南风转南风 3-4级转3-4级   是

In [16]:
# 2. df.apply()
def get_weather(df):
    if df["天气"] == "晴":
        return "是"
    return "否"
# axis 0: 对每一列数据应用函数, 1: 对每一行数据应用函数
df.loc[:,"是否天晴"]=df.apply(get_weather,axis=1)

In [19]:
# 查看某个字段类型的统计
df['是否天晴'].value_counts()

是否天晴
否    24
是     6
Name: count, dtype: int64

In [37]:
# 3. df.assign(): 同时增加多个列
df.assign(
    # 注意事项: 此处的col1 不要用引号
    col1 = lambda x: "列1",
    col3 = lambda x: "列3",
)
df.head(1)

   城市         时间      天气       温度           风向 好天气 是否天晴  col2
0  北京  2018/6/30  雷阵雨转多云  37℃～23℃  西南风转东南风 <3级   是    否  列two

In [34]:
# 4. 按照分组: 该方法其实就是直接赋值
df["col2"] = ""
df.loc[df["天气"]=="晴","col2"] = "列2"
df.loc[df["天气"]!="晴","col2"] = "列two"

In [36]:
df.head(1)

   城市         时间      天气       温度           风向 好天气 是否天晴  col2
0  北京  2018/6/30  雷阵雨转多云  37℃～23℃  西南风转东南风 <3级   是    否  列two

In [38]:
df["col2"].value_counts()

col2
列two    24
列2       6
Name: count, dtype: int64

### 数据统计函数

In [109]:
import pandas as pd
df=pd.read_csv('./data/beijing_weather.csv')

In [110]:
# 数据准备
df.head(1)

   城市         时间      天气       温度           风向
0  北京  2018/6/30  雷阵雨转多云  37℃～23℃  西南风转东南风 <3级

In [111]:
# split() 函数的使用
df[["最高温度","最低温度"]] = df["温度"].str.split("～",expand=True)

In [112]:
# drop(): 删除某一列, axis: 表示列; inplace = True: 表示是否原地修改
df.drop(["温度"],axis=1, inplace=True)

In [113]:
df["最高温度"]=df["最高温度"].str.replace("℃","")
df["最高温度"]=df["最高温度"].str.replace("C","")
df["最低温度"]=df["最低温度"].str.replace("℃","")
df["最低温度"]=df["最低温度"].str.replace("C","")
df["最低温度"] = df["最低温度"].astype('int32')

In [151]:
df.describe()

            最低温度
count  30.000000
mean   21.533333
std     2.687562
min    17.000000
25%    20.000000
50%    21.000000
75%    24.750000
max    25.000000

In [115]:
df.head(1)

   城市         时间      天气           风向 最高温度  最低温度
0  北京  2018/6/30  雷阵雨转多云  西南风转东南风 <3级   37    23

#### 唯一去重和按值计算

In [119]:
# 唯一去重
df["最高温度"].unique()

array(['37', '39', '35', '38', '36', '30', '31', '34', '32', '27', '29',
       '22', '26', '25'], dtype=object)

In [136]:

df["最低温度"].astype('int32')

0     23
1     25
2     24
3     25
4     25
5     25
6     25
7     25
8     22
9     23
10    21
11    20
12    21
13    22
14    21
15    20
16    19
17    18
18    18
19    19
20    17
21    17
22    20
23    20
24    25
25    25
26    21
27    18
28    21
29    21
Name: 最低温度, dtype: int32

In [152]:
df["最高温度"].astype('int32')

0     37
1     39
2     35
3     38
4     36
5     30
6     35
7     35
8     31
9     35
10    36
11    34
12    32
13    27
14    29
15    29
16    30
17    22
18    31
19    26
20    25
21    22
22    31
23    32
24    32
25    38
26    34
27    30
28    35
29    35
Name: 最高温度, dtype: int32

In [163]:
# 按值计算
df["最高温度"]= df["最高温度"].astype("int32")
df["最高温度"].unique()

array([37, 39, 35, 38, 36, 30, 31, 34, 32, 27, 29, 22, 26, 25],
      dtype=int32)

#### 相关系数和协方差

In [164]:
# 协方差矩阵
df["最高温度"].cov(df["最低温度"])
# df['最高温度'].unique()

8.671264367816091

In [ ]:
# 相关系数矩阵
df.corr()