In [54]:
import os
work_dir="./data/10_split"
split_dir=f"{work_dir}/splits"
if not os.path.exists(split_dir):
    os.makedirs(split_dir)

In [55]:
import pandas as pd
df=pd.read_csv('./data/10_split/movies.csv')

In [56]:
df.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [57]:
row_count=df.shape[0]

In [58]:
row_count

62423

#### 将excel文件拆分成100份小文件

In [59]:
size=row_count // 6
usernames=["aa","bb","cc","dd","ee","ff"]
if row_count % 6 != 0:
    size+=1

In [60]:
size

10404

In [61]:
df_subs=[]
for idx,name in enumerate(usernames):
    begin=idx*size
    end=begin+size
    df_sub=df.iloc[begin:end]
    df_subs.append((idx,name,df_sub))

In [62]:
# df_subs
for idx,name,df_sub in df_subs:
    filename=f"./data/10_split/splits/{idx}-{name}.xlsx"
    df_sub.to_excel(filename,index=False)

#### 合并excel

In [63]:
files_dir='./data/10_split/splits/'
files=os.listdir(files_dir)

In [69]:
df_list=[]
for filename in files:
    if filename == ".DS_Store":
        continue
    idx,username=filename.replace(".xlsx","").split("-")
    df = pd.read_excel(f"{files_dir}/{filename}")
    # 为df新增列
    df["username"]=username
    df_list.append(df)

0-aa.xlsx
4-ee.xlsx
3-dd.xlsx
1-bb.xlsx
2-cc.xlsx
5-ff.xlsx

In [70]:
df_merge = pd.concat(df_list, ignore_index=True)

In [76]:
df_merge.tail()

       movieId                           title                  genres username
62418   209157                       We (2018)                   Drama       ff
62419   209159       Window of the Soul (2001)             Documentary       ff
62420   209163                Bad Poems (2018)            Comedy|Drama       ff
62421   209169             A Girl Thing (2001)      (no genres listed)       ff
62422   209171  Women of Devil's Island (1962)  Action|Adventure|Drama       ff

In [75]:
df_merge.to_excel(f"{files_dir}/movie_merged.xlsx",index=False)