#### 分层索引

##### 1. 是什么？
分层就是索引数量大于1的索引

In [10]:
import pandas as pd
import numpy as np
%matplotlib inline

In [11]:
stocks=pd.read_excel("./data/stocks/stock.xlsx")

In [12]:
stocks.groupby(["公司"])

In [27]:
# int 索引
stocks.index

RangeIndex(start=0, stop=12, step=1)

In [28]:
stocks["收盘"].mean()

109.5175

**Series的分层索引**

In [29]:
ser=stocks.groupby(["公司","日期"])["收盘"].mean()

In [21]:
type(ser)

pandas.core.series.Series

In [22]:
ser.index

MultiIndex([('拼多多', '2023-12-04'),
            ('拼多多', '2023-12-05'),
            ('拼多多', '2023-12-06'),
            ('拼多多', '2023-12-07'),
            ( '百度', '2023-12-04'),
            ( '百度', '2023-12-05'),
            ( '百度', '2023-12-06'),
            ( '百度', '2023-12-07'),
            ( '阿里', '2023-12-04'),
            ( '阿里', '2023-12-05'),
            ( '阿里', '2023-12-06'),
            ( '阿里', '2023-12-07')],
           names=['公司', '日期'])

In [23]:
# 将分层索引变成列，此时Series会变成DataFrame
ser.unstack()

日期   2023-12-04  2023-12-05  2023-12-06  2023-12-07
公司
拼多多      142.83      143.46      141.99      140.29
百度       113.70      113.55      113.38      115.78
阿里        73.03       72.38       71.49       72.33

In [24]:
ser.index

MultiIndex([('拼多多', '2023-12-04'),
            ('拼多多', '2023-12-05'),
            ('拼多多', '2023-12-06'),
            ('拼多多', '2023-12-07'),
            ( '百度', '2023-12-04'),
            ( '百度', '2023-12-05'),
            ( '百度', '2023-12-06'),
            ( '百度', '2023-12-07'),
            ( '阿里', '2023-12-04'),
            ( '阿里', '2023-12-05'),
            ( '阿里', '2023-12-06'),
            ( '阿里', '2023-12-07')],
           names=['公司', '日期'])

In [25]:
ser.reset_index()

     公司         日期      收盘
0   拼多多 2023-12-04  142.83
1   拼多多 2023-12-05  143.46
2   拼多多 2023-12-06  141.99
3   拼多多 2023-12-07  140.29
4    百度 2023-12-04  113.70
5    百度 2023-12-05  113.55
6    百度 2023-12-06  113.38
7    百度 2023-12-07  115.78
8    阿里 2023-12-04   73.03
9    阿里 2023-12-05   72.38
10   阿里 2023-12-06   71.49
11   阿里 2023-12-07   72.33