## 分层索引

#### 1. what
分层就是索引数量大于1的索引. 我们可以通过`DataFraome.set_index(["index1","index2"], inplace=True)` 来创建一个DataFrame的分层索引 **或者** `DataFrame.groupby(["index1","index2"])["col1"].mean()` 得到一个Series 的分层索引.

### 2. where

* 优化查询速度
* todo

### 3. how
**Series的使用**


**DataFrame的使用**

In [27]:
import pandas as pd
import numpy as np
%matplotlib inline

In [28]:
stocks=pd.read_excel("./data/stocks/stock.xlsx")

In [29]:
stocks.groupby(["公司","日期"])

In [31]:
# int 索引
stocks.index

RangeIndex(start=0, stop=12, step=1)

In [32]:
stocks["收盘"].mean()

109.5175

**Series的分层索引**

In [52]:
ser=stocks.groupby(["公司","日期"])["收盘"].mean()

In [53]:
type(ser)

pandas.core.series.Series

In [54]:
ser

公司   日期
拼多多  2023-12-04    142.83
     2023-12-05    143.46
     2023-12-06    141.99
     2023-12-07    140.29
百度   2023-12-04    113.70
     2023-12-05    113.55
     2023-12-06    113.38
     2023-12-07    115.78
阿里   2023-12-04     73.03
     2023-12-05     72.38
     2023-12-06     71.49
     2023-12-07     72.33
Name: 收盘, dtype: float64

In [10]:
# 将分层索引变成列，此时Series会变成DataFrame
ser.unstack()

日期   2023-12-04  2023-12-05  2023-12-06  2023-12-07
公司
拼多多      142.83      143.46      141.99      140.29
百度       113.70      113.55      113.38      115.78
阿里        73.03       72.38       71.49       72.33

In [11]:
ser.index

MultiIndex([('拼多多', '2023-12-04'),
            ('拼多多', '2023-12-05'),
            ('拼多多', '2023-12-06'),
            ('拼多多', '2023-12-07'),
            ( '百度', '2023-12-04'),
            ( '百度', '2023-12-05'),
            ( '百度', '2023-12-06'),
            ( '百度', '2023-12-07'),
            ( '阿里', '2023-12-04'),
            ( '阿里', '2023-12-05'),
            ( '阿里', '2023-12-06'),
            ( '阿里', '2023-12-07')],
           names=['公司', '日期'])

In [12]:
ser.reset_index()

     公司         日期      收盘
0   拼多多 2023-12-04  142.83
1   拼多多 2023-12-05  143.46
2   拼多多 2023-12-06  141.99
3   拼多多 2023-12-07  140.29
4    百度 2023-12-04  113.70
5    百度 2023-12-05  113.55
6    百度 2023-12-06  113.38
7    百度 2023-12-07  115.78
8    阿里 2023-12-04   73.03
9    阿里 2023-12-05   72.38
10   阿里 2023-12-06   71.49
11   阿里 2023-12-07   72.33

#### 多级索引下查找数据

In [14]:
ser.loc["拼多多"]

日期
2023-12-04    142.83
2023-12-05    143.46
2023-12-06    141.99
2023-12-07    140.29
Name: 收盘, dtype: float64

In [15]:
ser.loc[("拼多多","2023-12-04")]

142.83

In [17]:
ser.loc[:, "2023-12-04"]

公司
拼多多    142.83
百度     113.70
阿里      73.03
Name: 收盘, dtype: float64

#### DataFrame的多层索引

In [19]:
stocks.set_index(["公司", "日期"], inplace=True)

In [20]:
stocks

                    收盘      开盘       高       低     交易量     涨跌幅
公司  日期
阿里  2023-12-07   72.33   71.54   72.37   71.44  18.33M  0.0117
    2023-12-06   71.49   72.36   72.95   71.49  29.66M -0.0123
    2023-12-05   72.38   72.04   72.70   71.92  18.96M -0.0089
    2023-12-04   73.03   72.67   73.58   72.48  20.96M -0.0130
百度  2023-12-07  115.78  114.41  116.21  114.22   2.65M  0.0212
    2023-12-06  113.38  115.25  115.67  113.32   2.06M -0.0015
    2023-12-05  113.55  111.88  114.68  111.73   2.26M -0.0013
    2023-12-04  113.70  114.77  114.77  112.41   3.90M -0.0263
拼多多 2023-12-07  140.29  141.99  142.55  139.05   6.41M -0.0120
    2023-12-06  141.99  143.87  145.43  141.69   6.01M -0.0102
    2023-12-05  143.46  138.66  143.53  138.12   6.75M  0.0044
    2023-12-04  142.83  141.35  143.39  139.95   9.29M -0.0168

In [23]:
stocks.loc[("阿里","2023-12-07")]

收盘      72.33
开盘      71.54
高       72.37
低       71.44
交易量    18.33M
涨跌幅    0.0117
Name: (阿里, 2023-12-07 00:00:00), dtype: object

In [24]:
stocks.loc[["阿里","百度"]]

                   收盘      开盘       高       低     交易量     涨跌幅
公司 日期
阿里 2023-12-07   72.33   71.54   72.37   71.44  18.33M  0.0117
   2023-12-06   71.49   72.36   72.95   71.49  29.66M -0.0123
   2023-12-05   72.38   72.04   72.70   71.92  18.96M -0.0089
   2023-12-04   73.03   72.67   73.58   72.48  20.96M -0.0130
百度 2023-12-07  115.78  114.41  116.21  114.22   2.65M  0.0212
   2023-12-06  113.38  115.25  115.67  113.32   2.06M -0.0015
   2023-12-05  113.55  111.88  114.68  111.73   2.26M -0.0013
   2023-12-04  113.70  114.77  114.77  112.41   3.90M -0.0263

In [25]:
# 一级索引获取所有值, 二级索引为列表
# 所有制可以用slice(None)来表示
stocks.loc[(slice(None), ["2023-12-07","2023-12-06"]), :]

                    收盘      开盘       高       低     交易量     涨跌幅
公司  日期
阿里  2023-12-07   72.33   71.54   72.37   71.44  18.33M  0.0117
百度  2023-12-07  115.78  114.41  116.21  114.22   2.65M  0.0212
拼多多 2023-12-07  140.29  141.99  142.55  139.05   6.41M -0.0120
阿里  2023-12-06   71.49   72.36   72.95   71.49  29.66M -0.0123
百度  2023-12-06  113.38  115.25  115.67  113.32   2.06M -0.0015
拼多多 2023-12-06  141.99  143.87  145.43  141.69   6.01M -0.0102

In [26]:
stocks.loc[(slice(None), slice(None)), :]

                    收盘      开盘       高       低     交易量     涨跌幅
公司  日期
阿里  2023-12-07   72.33   71.54   72.37   71.44  18.33M  0.0117
    2023-12-06   71.49   72.36   72.95   71.49  29.66M -0.0123
    2023-12-05   72.38   72.04   72.70   71.92  18.96M -0.0089
    2023-12-04   73.03   72.67   73.58   72.48  20.96M -0.0130
百度  2023-12-07  115.78  114.41  116.21  114.22   2.65M  0.0212
    2023-12-06  113.38  115.25  115.67  113.32   2.06M -0.0015
    2023-12-05  113.55  111.88  114.68  111.73   2.26M -0.0013
    2023-12-04  113.70  114.77  114.77  112.41   3.90M -0.0263
拼多多 2023-12-07  140.29  141.99  142.55  139.05   6.41M -0.0120
    2023-12-06  141.99  143.87  145.43  141.69   6.01M -0.0102
    2023-12-05  143.46  138.66  143.53  138.12   6.75M  0.0044
    2023-12-04  142.83  141.35  143.39  139.95   9.29M -0.0168